# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and Checkpoints
.ipynb_checkpoints/
.pytest_cache/
.coverage

# Environments
.env
.venv
env/
venv/
ENV/

# Large Model Weights and Data Archives
*.pt
*.pth
*.onnx
*.engine
*.weights
*.zip
*.tar.gz

# Ignore heavy output archives in data/ predictions
data/04-predictions/*.zip

# macOS metadata
.DS_Store
.AppleDouble
.LSOverride

# IDEs and Editors
.vscode/
.idea/
*.swp
